[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RColetum"]
	path = RColetum
	url = https://github.com/geo-sapiens/rcoletum
	shallow = true
	registered = true
